<section class="post-full-comments" style="padding-bottom: 2vw;">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- End of article -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3279244863448823"
     data-ad-slot="3739104697"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</section>